# Setup

### Import libraries

In [12]:
import yaml 
from pathlib import Path
import os
path = Path("C:/Users/HP/Desktop/UNOS data/codes/simulation-waitline-unos").resolve()  # Get the absolute path
os.chdir(path)
import prediction as pred 
from data import *
from simulation import * 
import copy

Load data from UNOS and dictionaries to map ethnicities and blood type compatibility

In [13]:
df_base = load_data()   
yaml_file_path = "C:/Users/HP/Desktop/UNOS data/codes/simulation-waitline-unos/mapping_data.yaml"
with open(yaml_file_path, "r") as file:
    loaded_data = yaml.safe_load(file)
ethcat_mapping = loaded_data["ethcat_mapping"]
blood_type_compatibility = loaded_data["blood_type_compatibility"]

Get proportions by gender from UNOS sample

In [14]:
real_gender_df = df_base.GENDER.value_counts(normalize=True).reset_index()
real_gender_df.columns = ['gender', 'sample_proportion']
real_gender_df

  gender  sample_proportion
0      M            0.64827
1      F            0.35173

Get proportions by ethnicity from UNOS sample

In [15]:
real_ethcat_df = df_base.ETHCAT.value_counts(normalize=True).reset_index()
real_ethcat_df.ETHCAT = real_ethcat_df.ETHCAT.map(ethcat_mapping)
real_ethcat_df.columns = ['ethcat', 'sample_proportion']
real_ethcat_df

                                              ethcat  sample_proportion
0                                White, Non-Hispanic           0.439416
1                                Black, Non-Hispanic           0.325258
2                                    Hispanic/Latino           0.159551
3                                Asian, Non-Hispanic           0.053213
4               Amer Ind/Alaska Native, Non-Hispanic           0.013618
5                          Multiracial, Non-Hispanic           0.004764
6  Native Hawaiian/Other Pacific Islander, Non-Hi...           0.004180

Load predictors and create events

In [16]:
decision_tree = pred.SurvivalPredictionModel(model_path='models\decision_tree_0912.pkl')
cox_prop = pred.SurvivalPredictionModel(model_path='models\coxprop_0912.pkl')
random_forest = pred.SurvivalPredictionModel(model_path=r'models\forest_0912.pkl')

replicates = 30
events_per_replication =create_list_of_events(n_events = 10000, replications=replicates)

events_per_replication_p1 = copy.deepcopy(events_per_replication)
events_per_replication_p2 = copy.deepcopy(events_per_replication)
events_per_replication_p3 = copy.deepcopy(events_per_replication)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\c'
C:\Users\HP\AppData\Local\Temp\ipykernel_12896\179456071.py:1: SyntaxWarning: invalid escape sequence '\d'
  decision_tree = pred.SurvivalPredictionModel(model_path='models\decision_tree_0912.pkl')
C:\Users\HP\AppData\Local\Temp\ipykernel_12896\179456071.py:2: SyntaxWarning: invalid escape sequence '\c'
  cox_prop = pred.SurvivalPredictionModel(model_path='models\coxprop_0912.pkl')

models\decision_tree_0912.pkl
ok
Model loaded successfully from models\decision_tree_0912.pkl.
models\coxprop_0912.pkl
ok
Model loaded successfully from models\coxprop_0912.pkl.
models\forest_0912.pkl
ok
Model loaded successfully from models\forest_0912.pkl.

# Survival Decision tree

## Policy 1

In [17]:
average_waiting_times, number_of_matches_list, results_p1_no, results_p1_ll, results_p1_fl = run_simulation(events_per_replication_p1,  replicates, decision_tree, policy='p1', verbose=False)

Replicate # 0

Progress replication 0: 100%|█████████▉| 10950.697406058636/10957.5 [04:34<00:00, 20.83time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 0: 100%|██████████| 10957.930089747902/10957.5 [04:34<00:00, 39.93time unit/s]

Replicate # 1

Progress replication 1: 10959.58529122366time unit [04:37, 39.52time unit/s]

Replicate # 2

Progress replication 2: 10958.307244594895time unit [03:03, 59.63time unit/s]

Replicate # 3

Progress replication 3: 10958.000551300192time unit [02:39, 68.80time unit/s]

Replicate # 4

Progress replication 4: 10958.871215956993time unit [02:32, 71.99time unit/s]

Replicate # 5

Progress replication 5: 100%|█████████▉| 10946.93955501798/10957.5 [02:34<00:00, 77.01time unit/s]  c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 5: 100%|██████████| 10957.961155556466/10957.5 [02:35<00:00, 66.84time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 5: 100%|██████████| 10957.961155556466/10957.5 [02:35<00:00, 70.52time unit/s]

Replicate # 6

Progress replication 6: 10958.3227591223time unit [02:31, 72.34time unit/s]

Replicate # 7

Progress replication 7: 10968.025722266875time unit [02:26, 74.84time unit/s]

Replicate # 8

Progress replication 8: 10959.350736797218time unit [02:50, 64.10time unit/s]

Replicate # 9

Progress replication 9: 10958.2574054889time unit [02:28, 73.89time unit/s]

Replicate # 10

Progress replication 10: 10960.33893078066time unit [02:41, 67.74time unit/s]

Replicate # 11

Progress replication 11: 10960.31727951648time unit [02:30, 72.89time unit/s]

Replicate # 12

Progress replication 12: 10958.26097997763time unit [02:45, 66.41time unit/s]

Replicate # 13

Progress replication 13: 100%|█████████▉| 10933.4294943533/10957.5 [02:38<00:00, 101.93time unit/s]  c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 13: 100%|██████████| 10957.98809585193/10957.5 [02:38<00:00, 122.15time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 13: 100%|██████████| 10957.98809585193/10957.5 [02:38<00:00, 68.95time unit/s]

Replicate # 14

Progress replication 14: 100%|█████████▉| 10951.600901619746/10957.5 [02:29<00:00, 60.29time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 14: 100%|██████████| 10957.748463686283/10957.5 [02:30<00:00, 73.01time unit/s]

Replicate # 15

Progress replication 15: 10959.262648204814time unit [02:37, 69.72time unit/s]

Replicate # 16

Progress replication 16: 10958.105364057108time unit [02:35, 70.34time unit/s]

Replicate # 17

Progress replication 17: 10959.647230038352time unit [02:35, 70.49time unit/s]

Replicate # 18

Progress replication 18: 10959.164278071128time unit [02:34, 70.91time unit/s]

Replicate # 19

Progress replication 19: 10962.261528954496time unit [02:39, 68.78time unit/s]

Replicate # 20

Progress replication 20: 10958.962203160321time unit [02:36, 70.23time unit/s]

Replicate # 21

Progress replication 21: 10962.761632806696time unit [02:40, 68.20time unit/s]

Replicate # 22

Progress replication 22: 10958.446864286709time unit [02:38, 68.98time unit/s]

Replicate # 23

Progress replication 23: 10959.111239714632time unit [02:41, 68.01time unit/s]

Replicate # 24

Progress replication 24: 10959.01811074683time unit [02:40, 68.44time unit/s]

Replicate # 25

Progress replication 25: 10968.40136298261time unit [02:34, 70.85time unit/s]

Replicate # 26

Progress replication 26: 10958.075603299905time unit [02:25, 75.09time unit/s]

Replicate # 27

Progress replication 27: 100%|█████████▉| 10946.694620869013/10957.5 [02:30<00:00, 74.11time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 27: 100%|██████████| 10957.93757988498/10957.5 [02:31<00:00, 72.53time unit/s]

Replicate # 28

Progress replication 28: 10960.109510269562time unit [02:42, 67.53time unit/s]

Replicate # 29

Progress replication 29: 100%|█████████▉| 10947.601265317831/10957.5 [02:31<00:00, 93.39time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 29: 100%|██████████| 10957.746279322779/10957.5 [02:31<00:00, 72.12time unit/s]

### recipients who receive a kidney

In [18]:
df_waiting_time, df_gender = get_summary_tables(results_p1_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [19]:

df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",1068.002,122.070,12.233,2.515,2844.595,94.264,0.011,0.014
1,"Asian, Non-Hispanic",1195.703,116.648,53.800,5.561,2843.090,36.325,0.047,0.053
2,"Black, Non-Hispanic",1169.059,103.649,361.467,16.598,2849.699,14.211,0.315,0.325
3,Hispanic/Latino,1093.074,100.777,198.300,11.908,2843.358,21.833,0.173,0.160
4,"Multiracial, Non-Hispanic",1326.847,185.721,7.933,2.212,2887.827,104.390,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",1137.492,144.676,4.100,1.539,2861.860,153.011,0.004,0.004
6,"White, Non-Hispanic",1173.514,100.101,511.033,23.018,2848.006,12.254,0.445,0.439

In [20]:

df_gender.round(3)

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1161.240,99.493,411.767,21.379,2849.574,14.598,0.358,0.352
1,M,1157.749,101.716,737.100,29.961,2846.771,7.985,0.642,0.648

### patients who leave the waitlist

In [21]:
df_waiting_time, df_gender = get_summary_tables(results_p1_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [22]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",663.385,148.812,5.200,1.518,0.0,0.0,0.011,0.014
1,"Asian, Non-Hispanic",689.972,109.829,19.233,3.830,0.0,0.0,0.042,0.053
2,"Black, Non-Hispanic",607.373,57.981,159.500,15.948,0.0,0.0,0.350,0.325
3,Hispanic/Latino,604.919,60.782,73.467,7.080,0.0,0.0,0.161,0.160
4,"Multiracial, Non-Hispanic",544.843,259.076,2.750,1.143,0.0,0.0,0.006,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",560.458,441.031,1.200,0.410,0.0,0.0,0.003,0.004
6,"White, Non-Hispanic",624.404,55.718,194.300,15.121,0.0,0.0,0.426,0.439

In [23]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,574.221205,59.583815,163.566667,15.285069,0.0,0.0,0.359435,0.35173
1,M,643.389054,54.267474,291.500000,21.873855,0.0,0.0,0.640565,0.64827

### patients who stay in final list

In [24]:
df_waiting_time, df_gender = get_summary_tables(results_p1_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [25]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",393.943,142.717,3.034,1.426,0.0,0.0,0.016,0.014
1,"Asian, Non-Hispanic",521.464,138.233,10.533,2.738,0.0,0.0,0.056,0.053
2,"Black, Non-Hispanic",704.921,107.786,65.433,9.442,0.0,0.0,0.345,0.325
3,Hispanic/Latino,525.434,86.075,32.633,6.178,0.0,0.0,0.172,0.160
4,"Multiracial, Non-Hispanic",416.266,193.261,1.368,0.597,0.0,0.0,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",667.584,180.876,1.000,0.000,0.0,0.0,0.005,0.004
6,"White, Non-Hispanic",671.041,90.365,75.533,10.068,0.0,0.0,0.399,0.439

In [26]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,638.783828,82.430348,63.033333,10.060107,0.0,0.0,0.334276,0.35173
1,M,647.169081,86.909351,125.533333,15.381882,0.0,0.0,0.665724,0.64827

## Policy 2

In [27]:
average_waiting_times, number_of_matches_list, results_p2_no, results_p2_ll, results_p2_fl = run_simulation(events_per_replication_p2,  replicates, decision_tree, policy='p2', verbose=False)

Replicate # 0

Progress replication 0: 100%|█████████▉| 10954.378989683615/10957.5 [00:59<00:00, 131.25time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 0: 100%|██████████| 10957.930089747902/10957.5 [00:59<00:00, 183.55time unit/s]

Replicate # 1

Progress replication 1: 10959.58529122366time unit [00:56, 192.74time unit/s]

Replicate # 2

Progress replication 2: 10958.307244594895time unit [00:57, 189.06time unit/s]

Replicate # 3

Progress replication 3: 10958.000551300192time unit [01:01, 179.30time unit/s]

Replicate # 4

Progress replication 4: 10958.871215956993time unit [00:56, 193.37time unit/s]

Replicate # 5

Progress replication 5: 100%|█████████▉| 10946.93955501798/10957.5 [00:57<00:00, 166.90time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 5: 100%|██████████| 10957.961155556466/10957.5 [00:57<00:00, 189.17time unit/s]

Replicate # 6

Progress replication 6: 10958.3227591223time unit [00:57, 192.03time unit/s]

Replicate # 7

Progress replication 7: 10968.025722266875time unit [00:56, 194.01time unit/s]

Replicate # 8

Progress replication 8: 10959.350736797218time unit [00:59, 185.51time unit/s]

Replicate # 9

Progress replication 9: 10958.2574054889time unit [00:57, 189.75time unit/s]

Replicate # 10

Progress replication 10: 10960.33893078066time unit [00:58, 187.00time unit/s]

Replicate # 11

Progress replication 11: 10960.31727951648time unit [00:56, 192.81time unit/s]

Replicate # 12

Progress replication 12: 10958.26097997763time unit [00:57, 192.20time unit/s]

Replicate # 13

Progress replication 13: 100%|█████████▉| 10941.67697589951/10957.5 [00:56<00:00, 199.38time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 13: 100%|██████████| 10957.98809585193/10957.5 [00:56<00:00, 194.96time unit/s]

Replicate # 14

Progress replication 14: 100%|█████████▉| 10951.600901619746/10957.5 [00:56<00:00, 166.77time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 14: 100%|██████████| 10957.748463686283/10957.5 [00:56<00:00, 192.36time unit/s]

Replicate # 15

Progress replication 15: 10959.262648204814time unit [00:56, 192.39time unit/s]

Replicate # 16

Progress replication 16: 10958.105364057108time unit [00:58, 187.58time unit/s]

Replicate # 17

Progress replication 17: 10959.647230038352time unit [00:58, 188.73time unit/s]

Replicate # 18

Progress replication 18: 10959.164278071128time unit [00:57, 189.57time unit/s]

Replicate # 19

Progress replication 19: 10962.261528954496time unit [00:58, 188.27time unit/s]

Replicate # 20

Progress replication 20: 10958.962203160321time unit [00:57, 189.65time unit/s]

Replicate # 21

Progress replication 21: 10962.761632806696time unit [00:56, 192.72time unit/s]

Replicate # 22

Progress replication 22: 10958.446864286709time unit [00:55, 198.53time unit/s]

Replicate # 23

Progress replication 23: 10959.111239714632time unit [00:58, 187.54time unit/s]

Replicate # 24

Progress replication 24: 10959.01811074683time unit [00:58, 187.82time unit/s]

Replicate # 25

Progress replication 25: 10968.40136298261time unit [00:57, 192.07time unit/s]

Replicate # 26

Progress replication 26: 10958.075603299905time unit [00:57, 189.59time unit/s]

Replicate # 27

Progress replication 27: 100%|█████████▉| 10951.08041385546/10957.5 [00:56<00:00, 192.39time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 27: 100%|██████████| 10957.93757988498/10957.5 [00:56<00:00, 193.05time unit/s]

Replicate # 28

Progress replication 28: 10960.109510269562time unit [00:57, 191.97time unit/s]

Replicate # 29

Progress replication 29: 100%|█████████▉| 10957.494151887293/10957.5 [00:56<00:00, 182.07time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 29: 100%|██████████| 10957.746279322779/10957.5 [00:56<00:00, 192.30time unit/s]

### recipients who receive a kidney

In [28]:
df_waiting_time, df_gender = get_summary_tables(results_p2_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [29]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",1068.002,122.070,12.233,2.515,2844.595,94.264,0.011,0.014
1,"Asian, Non-Hispanic",1195.703,116.648,53.800,5.561,2843.090,36.325,0.047,0.053
2,"Black, Non-Hispanic",1169.059,103.649,361.467,16.598,2849.699,14.211,0.315,0.325
3,Hispanic/Latino,1093.074,100.777,198.300,11.908,2843.358,21.833,0.173,0.160
4,"Multiracial, Non-Hispanic",1326.847,185.721,7.933,2.212,2887.827,104.390,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",1137.492,144.676,4.100,1.539,2861.860,153.011,0.004,0.004
6,"White, Non-Hispanic",1173.514,100.101,511.033,23.018,2848.006,12.254,0.445,0.439

In [30]:
df_gender.round(3)

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1161.240,99.493,411.767,21.379,2849.574,14.598,0.358,0.352
1,M,1157.749,101.716,737.100,29.961,2846.771,7.985,0.642,0.648

### patients who leave the waitlist

In [31]:
df_waiting_time, df_gender = get_summary_tables(results_p2_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [32]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",663.385,148.812,5.200,1.518,0.0,0.0,0.011,0.014
1,"Asian, Non-Hispanic",689.972,109.829,19.233,3.830,0.0,0.0,0.042,0.053
2,"Black, Non-Hispanic",607.373,57.981,159.500,15.948,0.0,0.0,0.350,0.325
3,Hispanic/Latino,604.919,60.782,73.467,7.080,0.0,0.0,0.161,0.160
4,"Multiracial, Non-Hispanic",544.843,259.076,2.750,1.143,0.0,0.0,0.006,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",560.458,441.031,1.200,0.410,0.0,0.0,0.003,0.004
6,"White, Non-Hispanic",624.404,55.718,194.300,15.121,0.0,0.0,0.426,0.439

In [33]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,574.221205,59.583815,163.566667,15.285069,0.0,0.0,0.359435,0.35173
1,M,643.389054,54.267474,291.500000,21.873855,0.0,0.0,0.640565,0.64827

### patients who stay in final list

In [34]:
df_waiting_time, df_gender = get_summary_tables(results_p2_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [35]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",393.943,142.717,3.034,1.426,0.0,0.0,0.016,0.014
1,"Asian, Non-Hispanic",521.464,138.233,10.533,2.738,0.0,0.0,0.056,0.053
2,"Black, Non-Hispanic",704.921,107.786,65.433,9.442,0.0,0.0,0.345,0.325
3,Hispanic/Latino,525.434,86.075,32.633,6.178,0.0,0.0,0.172,0.160
4,"Multiracial, Non-Hispanic",416.266,193.261,1.368,0.597,0.0,0.0,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",667.584,180.876,1.000,0.000,0.0,0.0,0.005,0.004
6,"White, Non-Hispanic",671.041,90.365,75.533,10.068,0.0,0.0,0.399,0.439

In [36]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,638.783828,82.430348,63.033333,10.060107,0.0,0.0,0.334276,0.35173
1,M,647.169081,86.909351,125.533333,15.381882,0.0,0.0,0.665724,0.64827

## Policy 3

In [37]:
average_waiting_times, number_of_matches_list, results_p3_no, results_p3_ll, results_p3_fl = run_simulation(events_per_replication_p3,  replicates, random_forest, policy='p3', verbose=False)

Replicate # 0

Progress replication 0: 100%|█████████▉| 10950.800427387581/10957.5 [11:55<00:00,  8.31time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 0: 100%|██████████| 10957.711067042681/10957.5 [11:56<00:00, 15.30time unit/s]

Replicate # 1

Progress replication 1: 10959.702949630646time unit [11:38, 15.69time unit/s]

Replicate # 2

Progress replication 2: 10962.955577456014time unit [12:31, 14.59time unit/s]

Replicate # 3

Progress replication 3: 10962.63247155293time unit [12:18, 14.85time unit/s]

Replicate # 4

Progress replication 4: 10960.16904545727time unit [12:07, 15.06time unit/s]

Replicate # 5

Progress replication 5: 10958.689881254695time unit [12:23, 14.73time unit/s]

Replicate # 6

Progress replication 6: 10961.547017617753time unit [11:58, 15.26time unit/s]

Replicate # 7

Progress replication 7: 10958.024050084674time unit [11:50, 15.42time unit/s]

Replicate # 8

Progress replication 8: 10961.946540865682time unit [13:43, 13.31time unit/s]

Replicate # 9

Progress replication 9: 100%|█████████▉| 10956.098369466381/10957.5 [11:50<00:00, 15.14time unit/s]  c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 9: 100%|██████████| 10957.845465179345/10957.5 [11:51<00:00, 15.41time unit/s]

Replicate # 10

Progress replication 10: 10959.106786535767time unit [12:57, 14.09time unit/s]

Replicate # 11

Progress replication 11: 10960.056150061071time unit [12:25, 14.70time unit/s]

Replicate # 12

Progress replication 12: 10958.035122619885time unit [13:21, 13.67time unit/s]

Replicate # 13

Progress replication 13: 10960.537796369561time unit [13:25, 13.61time unit/s]

Replicate # 14

Progress replication 14: 10958.65500155715time unit [11:53, 15.37time unit/s]

Replicate # 15

Progress replication 15: 100%|█████████▉| 10952.70204566253/10957.5 [12:48<00:00, 28.27time unit/s]   c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 15: 100%|██████████| 10957.987619782196/10957.5 [12:48<00:00, 14.26time unit/s]

Replicate # 16

Progress replication 16: 100%|█████████▉| 10957.25607369523/10957.5 [12:29<00:00, 20.76time unit/s] c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 16: 100%|██████████| 10957.9533834818/10957.5 [12:29<00:00, 14.62time unit/s]

Replicate # 17

Progress replication 17: 10958.047727793366time unit [12:23, 14.73time unit/s]

Replicate # 18

Progress replication 18: 10959.447287099652time unit [12:38, 14.45time unit/s]

Replicate # 19

Progress replication 19: 100%|█████████▉| 10955.597125448132/10957.5 [12:55<00:00,  9.90time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 19: 100%|██████████| 10957.878296898298/10957.5 [12:55<00:00,  9.86time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 19: 100%|██████████| 10957.878296898298/10957.5 [12:55<00:00, 14.12time unit/s]

Replicate # 20

Progress replication 20: 10958.109194537503time unit [12:59, 14.05time unit/s]

Replicate # 21

Progress replication 21: 10962.868031400923time unit [13:27, 13.58time unit/s]

Replicate # 22

Progress replication 22: 10962.238633584904time unit [13:32, 13.49time unit/s]

Replicate # 23

Progress replication 23: 10958.492225152078time unit [13:02, 14.01time unit/s]

Replicate # 24

Progress replication 24: 10958.699897942068time unit [13:05, 13.95time unit/s]

Replicate # 25

Progress replication 25: 10960.657386017141time unit [12:39, 14.44time unit/s]

Replicate # 26

Progress replication 26: 10958.580040659512time unit [11:29, 15.90time unit/s]

Replicate # 27

Progress replication 27: 10959.58163529194time unit [12:01, 15.18time unit/s]

Replicate # 28

Progress replication 28: 10958.595441988029time unit [13:53, 13.15time unit/s]

Replicate # 29

Progress replication 29: 10960.175816440631time unit [12:30, 14.60time unit/s]

### recipients who receive a kidney

In [38]:
df_waiting_time, df_gender = get_summary_tables(results_p3_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [39]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",1055.793,122.438,12.267,2.766,2949.840,45.435,0.011,0.014
1,"Asian, Non-Hispanic",1194.990,115.409,54.467,5.794,2958.469,18.139,0.047,0.053
2,"Black, Non-Hispanic",1167.837,103.524,361.500,16.311,2967.335,8.537,0.314,0.325
3,Hispanic/Latino,1090.339,100.682,198.400,11.935,2965.686,11.190,0.172,0.160
4,"Multiracial, Non-Hispanic",1305.154,187.999,7.867,2.177,2968.692,58.789,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",1159.476,158.815,4.233,1.591,2945.487,91.191,0.004,0.004
6,"White, Non-Hispanic",1151.970,98.198,512.500,24.428,2968.203,6.194,0.445,0.439

In [40]:
df_gender.round(3)

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1151.235,98.369,412.533,22.107,2968.704,7.878,0.358,0.352
1,M,1146.847,100.310,738.700,30.669,2965.713,4.136,0.642,0.648

### patients who leave the waitlist

In [41]:
df_waiting_time, df_gender = get_summary_tables(results_p3_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [42]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",676.759,116.601,5.133,1.634,0.0,0.0,0.011,0.014
1,"Asian, Non-Hispanic",690.537,111.982,18.933,3.300,0.0,0.0,0.042,0.053
2,"Black, Non-Hispanic",604.929,56.936,159.467,15.772,0.0,0.0,0.351,0.325
3,Hispanic/Latino,602.083,62.942,73.267,6.938,0.0,0.0,0.161,0.160
4,"Multiracial, Non-Hispanic",580.978,245.870,2.857,1.145,0.0,0.0,0.006,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",560.458,441.031,1.200,0.410,0.0,0.0,0.003,0.004
6,"White, Non-Hispanic",621.995,53.350,193.033,14.696,0.0,0.0,0.425,0.439

In [43]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,569.667829,58.522252,163.033333,15.376837,0.0,0.0,0.359659,0.35173
1,M,641.957365,54.842833,290.266667,20.905260,0.0,0.0,0.640341,0.64827

### patients who stay in final list

In [44]:
df_waiting_time, df_gender = get_summary_tables(results_p3_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [45]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",334.898,144.091,3.069,1.223,0.0,0.0,0.016,0.014
1,"Asian, Non-Hispanic",510.793,104.273,10.667,2.695,0.0,0.0,0.057,0.053
2,"Black, Non-Hispanic",707.847,115.162,65.467,9.198,0.0,0.0,0.348,0.325
3,Hispanic/Latino,521.132,96.250,32.633,6.573,0.0,0.0,0.173,0.160
4,"Multiracial, Non-Hispanic",402.397,220.422,1.350,0.489,0.0,0.0,0.007,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",634.861,209.406,1.000,0.000,0.0,0.0,0.005,0.004
6,"White, Non-Hispanic",665.291,97.165,74.200,10.032,0.0,0.0,0.394,0.439

In [46]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,630.419632,82.051868,62.833333,8.745771,0.0,0.0,0.33529,0.35173
1,M,645.175808,90.967623,124.566667,16.853698,0.0,0.0,0.66471,0.64827

# Random survival forest

In [47]:
events_per_replication_p1 = copy.deepcopy(events_per_replication)
events_per_replication_p2 = copy.deepcopy(events_per_replication)
events_per_replication_p3 = copy.deepcopy(events_per_replication)

## Policy 1

In [48]:
average_waiting_times, number_of_matches_list, results_p1_no, results_p1_ll, results_p1_fl = run_simulation(events_per_replication_p1,  
                                                                                                            replicates, random_forest, 
                                                                                                            policy='p1', verbose=False)

Replicate # 0

Progress replication 0: 10959.363706892873time unit [06:56, 26.33time unit/s]

Replicate # 1

Progress replication 1: 10960.181291574796time unit [06:54, 26.45time unit/s]

Replicate # 2

Progress replication 2:  32%|███▏      | 3532.531971753988/10957.5 [02:44<05:46, 21.45time unit/s]

KeyboardInterrupt:

### recipients who receive a kidney

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",343.633,NaN,12.0,NaN,2755.030,NaN,0.010,0.014
1,"Asian, Non-Hispanic",642.339,NaN,57.0,NaN,2881.835,NaN,0.048,0.053
2,"Black, Non-Hispanic",683.771,NaN,386.0,NaN,2885.959,NaN,0.323,0.325
3,Hispanic/Latino,610.488,NaN,191.0,NaN,2917.192,NaN,0.160,0.160
4,"Multiracial, Non-Hispanic",990.214,NaN,4.0,NaN,2842.242,NaN,0.003,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",1713.040,NaN,5.0,NaN,2912.062,NaN,0.004,0.004
6,"White, Non-Hispanic",682.768,NaN,539.0,NaN,2902.117,NaN,0.451,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,685.113964,NaN,448.0,NaN,2898.593320,NaN,0.375209,0.35173
1,M,663.381241,NaN,746.0,NaN,2895.562019,NaN,0.624791,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",1455.095,NaN,7.0,NaN,0.0,NaN,0.018,0.014
1,"Asian, Non-Hispanic",1242.031,NaN,23.0,NaN,0.0,NaN,0.059,0.053
2,"Black, Non-Hispanic",1532.915,NaN,133.0,NaN,0.0,NaN,0.339,0.325
3,Hispanic/Latino,1420.884,NaN,87.0,NaN,0.0,NaN,0.222,0.160
4,"Multiracial, Non-Hispanic",3399.425,NaN,1.0,NaN,0.0,NaN,0.003,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.003,0.004
6,"White, Non-Hispanic",1320.235,NaN,140.0,NaN,0.0,NaN,0.357,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1416.767493,NaN,136.0,NaN,0.0,NaN,0.346939,0.35173
1,M,1414.454026,NaN,256.0,NaN,0.0,NaN,0.653061,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",375.696,NaN,2.0,NaN,0.0,NaN,0.010,0.014
1,"Asian, Non-Hispanic",2254.631,NaN,9.0,NaN,0.0,NaN,0.045,0.053
2,"Black, Non-Hispanic",1727.915,NaN,68.0,NaN,0.0,NaN,0.343,0.325
3,Hispanic/Latino,1514.356,NaN,46.0,NaN,0.0,NaN,0.232,0.160
4,"Multiracial, Non-Hispanic",963.104,NaN,4.0,NaN,0.0,NaN,0.020,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",897.885,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",1412.202,NaN,68.0,NaN,0.0,NaN,0.343,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1757.008566,NaN,63.0,NaN,0.0,NaN,0.318182,0.35173
1,M,1468.816202,NaN,135.0,NaN,0.0,NaN,0.681818,0.64827

## Policy 2

In [ ]:
average_waiting_times, number_of_matches_list, results_p2_no, results_p2_ll, results_p2_fl = run_simulation(events_per_replication_p2,  replicates, random_forest, policy='p2', verbose=False)

Replicate # 0

Progress replication 0: 100%|█████████▉| 10950.697406058636/10957.5 [00:59<00:00, 128.09time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 0: 100%|██████████| 10957.930089747902/10957.5 [00:59<00:00, 183.38time unit/s]

### recipients who receive a kidney

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",840.475,NaN,13.0,NaN,2844.446,NaN,0.011,0.014
1,"Asian, Non-Hispanic",938.248,NaN,51.0,NaN,2872.710,NaN,0.044,0.053
2,"Black, Non-Hispanic",990.609,NaN,380.0,NaN,2883.395,NaN,0.325,0.325
3,Hispanic/Latino,932.886,NaN,206.0,NaN,2886.561,NaN,0.176,0.160
4,"Multiracial, Non-Hispanic",965.060,NaN,6.0,NaN,2890.854,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",832.604,NaN,4.0,NaN,2845.280,NaN,0.003,0.004
6,"White, Non-Hispanic",1009.434,NaN,509.0,NaN,2894.276,NaN,0.435,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1003.795369,NaN,441.0,NaN,2878.232836,NaN,0.377246,0.35173
1,M,972.021617,NaN,728.0,NaN,2893.433289,NaN,0.622754,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",468.791,NaN,4.0,NaN,0.0,NaN,0.010,0.014
1,"Asian, Non-Hispanic",654.592,NaN,24.0,NaN,0.0,NaN,0.060,0.053
2,"Black, Non-Hispanic",517.367,NaN,136.0,NaN,0.0,NaN,0.338,0.325
3,Hispanic/Latino,563.719,NaN,73.0,NaN,0.0,NaN,0.182,0.160
4,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.002,0.004
5,"White, Non-Hispanic",512.124,NaN,164.0,NaN,0.0,NaN,0.408,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,508.855658,NaN,134.0,NaN,0.0,NaN,0.333333,0.35173
1,M,541.797277,NaN,268.0,NaN,0.0,NaN,0.666667,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",469.996,NaN,3.0,NaN,0.0,NaN,0.016,0.014
1,"Asian, Non-Hispanic",405.238,NaN,10.0,NaN,0.0,NaN,0.053,0.053
2,"Black, Non-Hispanic",671.238,NaN,64.0,NaN,0.0,NaN,0.340,0.325
3,Hispanic/Latino,427.271,NaN,39.0,NaN,0.0,NaN,0.207,0.160
4,"Multiracial, Non-Hispanic",390.758,NaN,2.0,NaN,0.0,NaN,0.011,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",828.814,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",536.863,NaN,69.0,NaN,0.0,NaN,0.367,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,541.995719,NaN,65.0,NaN,0.0,NaN,0.345745,0.35173
1,M,556.986504,NaN,123.0,NaN,0.0,NaN,0.654255,0.64827

## Policy 3

### recipients who receive a kidney

In [ ]:
average_waiting_times, number_of_matches_list, results_p3_no, results_p3_ll, results_p3_fl = run_simulation(events_per_replication_p3,  replicates, random_forest, policy='p3', verbose=False)

Replicate # 0

Progress replication 0: 10961.989130414195time unit [12:05, 15.12time unit/s]

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",845.822,NaN,12.0,NaN,2955.612,NaN,0.010,0.014
1,"Asian, Non-Hispanic",960.717,NaN,53.0,NaN,2905.420,NaN,0.046,0.053
2,"Black, Non-Hispanic",993.715,NaN,377.0,NaN,2895.676,NaN,0.324,0.325
3,Hispanic/Latino,938.351,NaN,202.0,NaN,2885.954,NaN,0.174,0.160
4,"Multiracial, Non-Hispanic",940.781,NaN,6.0,NaN,2712.192,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",824.355,NaN,4.0,NaN,2864.132,NaN,0.003,0.004
6,"White, Non-Hispanic",981.518,NaN,509.0,NaN,2896.880,NaN,0.438,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,986.703629,NaN,438.0,NaN,2894.190222,NaN,0.376612,0.35173
1,M,967.729475,NaN,725.0,NaN,2894.722053,NaN,0.623388,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",615.953,NaN,3.0,NaN,0.0,NaN,0.008,0.014
1,"Asian, Non-Hispanic",598.874,NaN,21.0,NaN,0.0,NaN,0.053,0.053
2,"Black, Non-Hispanic",489.337,NaN,134.0,NaN,0.0,NaN,0.340,0.325
3,Hispanic/Latino,566.691,NaN,70.0,NaN,0.0,NaN,0.178,0.160
4,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.003,0.004
5,"White, Non-Hispanic",514.869,NaN,165.0,NaN,0.0,NaN,0.419,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,505.249600,NaN,135.0,NaN,0.0,NaN,0.34264,0.35173
1,M,527.836494,NaN,259.0,NaN,0.0,NaN,0.65736,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",472.406,NaN,4.0,NaN,0.0,NaN,0.021,0.014
1,"Asian, Non-Hispanic",503.992,NaN,8.0,NaN,0.0,NaN,0.042,0.053
2,"Black, Non-Hispanic",634.070,NaN,65.0,NaN,0.0,NaN,0.339,0.325
3,Hispanic/Latino,481.117,NaN,43.0,NaN,0.0,NaN,0.224,0.160
4,"Multiracial, Non-Hispanic",632.698,NaN,1.0,NaN,0.0,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",754.330,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",554.049,NaN,70.0,NaN,0.0,NaN,0.365,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,559.097806,NaN,63.0,NaN,0.0,NaN,0.328125,0.35173
1,M,564.119319,NaN,129.0,NaN,0.0,NaN,0.671875,0.64827

# Cox proportional hazard models

In [ ]:
events_per_replication_p1 = copy.deepcopy(events_per_replication)
events_per_replication_p2 = copy.deepcopy(events_per_replication)
events_per_replication_p3 = copy.deepcopy(events_per_replication)

## Policy 1

In [ ]:
average_waiting_times, number_of_matches_list, results_p1_no, results_p1_ll, results_p1_fl = run_simulation(events_per_replication_p1,  
                                                                                                            replicates, cox_prop, 
                                                                                                            policy='p1', verbose=False)

Replicate # 0

Progress replication 0: 10958.955726922059time unit [06:27, 28.28time unit/s]

### recipients who receive a kidney

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",343.633,NaN,12.0,NaN,2755.030,NaN,0.010,0.014
1,"Asian, Non-Hispanic",642.339,NaN,57.0,NaN,2881.835,NaN,0.048,0.053
2,"Black, Non-Hispanic",683.771,NaN,386.0,NaN,2885.959,NaN,0.323,0.325
3,Hispanic/Latino,610.488,NaN,191.0,NaN,2917.192,NaN,0.160,0.160
4,"Multiracial, Non-Hispanic",990.214,NaN,4.0,NaN,2842.242,NaN,0.003,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",1713.040,NaN,5.0,NaN,2912.062,NaN,0.004,0.004
6,"White, Non-Hispanic",682.768,NaN,539.0,NaN,2902.117,NaN,0.451,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,685.113964,NaN,448.0,NaN,2898.593320,NaN,0.375209,0.35173
1,M,663.381241,NaN,746.0,NaN,2895.562019,NaN,0.624791,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",1455.095,NaN,7.0,NaN,0.0,NaN,0.018,0.014
1,"Asian, Non-Hispanic",1242.031,NaN,23.0,NaN,0.0,NaN,0.059,0.053
2,"Black, Non-Hispanic",1532.915,NaN,133.0,NaN,0.0,NaN,0.339,0.325
3,Hispanic/Latino,1420.884,NaN,87.0,NaN,0.0,NaN,0.222,0.160
4,"Multiracial, Non-Hispanic",3399.425,NaN,1.0,NaN,0.0,NaN,0.003,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.003,0.004
6,"White, Non-Hispanic",1320.235,NaN,140.0,NaN,0.0,NaN,0.357,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1416.767493,NaN,136.0,NaN,0.0,NaN,0.346939,0.35173
1,M,1414.454026,NaN,256.0,NaN,0.0,NaN,0.653061,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p1_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",375.696,NaN,2.0,NaN,0.0,NaN,0.010,0.014
1,"Asian, Non-Hispanic",2254.631,NaN,9.0,NaN,0.0,NaN,0.045,0.053
2,"Black, Non-Hispanic",1727.915,NaN,68.0,NaN,0.0,NaN,0.343,0.325
3,Hispanic/Latino,1514.356,NaN,46.0,NaN,0.0,NaN,0.232,0.160
4,"Multiracial, Non-Hispanic",963.104,NaN,4.0,NaN,0.0,NaN,0.020,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",897.885,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",1412.202,NaN,68.0,NaN,0.0,NaN,0.343,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1757.008566,NaN,63.0,NaN,0.0,NaN,0.318182,0.35173
1,M,1468.816202,NaN,135.0,NaN,0.0,NaN,0.681818,0.64827

## Policy 2

In [ ]:
average_waiting_times, number_of_matches_list, results_p2_no, results_p2_ll, results_p2_fl = run_simulation(events_per_replication_p2,  
                                                                                                            replicates, cox_prop, 
                                                                                                            policy='p2', verbose=False)

Replicate # 0

Progress replication 0: 100%|█████████▉| 10950.697406058636/10957.5 [00:59<00:00, 126.43time unit/s]c:\Users\HP\miniconda3\Lib\site-packages\tqdm\std.py:524: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
Progress replication 0: 100%|██████████| 10957.930089747902/10957.5 [00:59<00:00, 183.99time unit/s]

### recipients who receive a kidney

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",840.475,NaN,13.0,NaN,2844.446,NaN,0.011,0.014
1,"Asian, Non-Hispanic",938.248,NaN,51.0,NaN,2872.710,NaN,0.044,0.053
2,"Black, Non-Hispanic",990.609,NaN,380.0,NaN,2883.395,NaN,0.325,0.325
3,Hispanic/Latino,932.886,NaN,206.0,NaN,2886.561,NaN,0.176,0.160
4,"Multiracial, Non-Hispanic",965.060,NaN,6.0,NaN,2890.854,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",832.604,NaN,4.0,NaN,2845.280,NaN,0.003,0.004
6,"White, Non-Hispanic",1009.434,NaN,509.0,NaN,2894.276,NaN,0.435,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,1003.795369,NaN,441.0,NaN,2878.232836,NaN,0.377246,0.35173
1,M,972.021617,NaN,728.0,NaN,2893.433289,NaN,0.622754,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",468.791,NaN,4.0,NaN,0.0,NaN,0.010,0.014
1,"Asian, Non-Hispanic",654.592,NaN,24.0,NaN,0.0,NaN,0.060,0.053
2,"Black, Non-Hispanic",517.367,NaN,136.0,NaN,0.0,NaN,0.338,0.325
3,Hispanic/Latino,563.719,NaN,73.0,NaN,0.0,NaN,0.182,0.160
4,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.002,0.004
5,"White, Non-Hispanic",512.124,NaN,164.0,NaN,0.0,NaN,0.408,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,508.855658,NaN,134.0,NaN,0.0,NaN,0.333333,0.35173
1,M,541.797277,NaN,268.0,NaN,0.0,NaN,0.666667,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p2_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",469.996,NaN,3.0,NaN,0.0,NaN,0.016,0.014
1,"Asian, Non-Hispanic",405.238,NaN,10.0,NaN,0.0,NaN,0.053,0.053
2,"Black, Non-Hispanic",671.238,NaN,64.0,NaN,0.0,NaN,0.340,0.325
3,Hispanic/Latino,427.271,NaN,39.0,NaN,0.0,NaN,0.207,0.160
4,"Multiracial, Non-Hispanic",390.758,NaN,2.0,NaN,0.0,NaN,0.011,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",828.814,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",536.863,NaN,69.0,NaN,0.0,NaN,0.367,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,541.995719,NaN,65.0,NaN,0.0,NaN,0.345745,0.35173
1,M,556.986504,NaN,123.0,NaN,0.0,NaN,0.654255,0.64827

## Policy 3

In [ ]:
average_waiting_times, number_of_matches_list, results_p3_no, results_p3_ll, results_p3_fl = run_simulation(events_per_replication_p3,  
                                                                                                            replicates, cox_prop, 
                                                                                                            policy='p3', verbose=False)

Replicate # 0

Progress replication 0: 10961.989130414195time unit [12:08, 15.05time unit/s]

### recipients who receive a kidney

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_no, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",845.822,NaN,12.0,NaN,2955.612,NaN,0.010,0.014
1,"Asian, Non-Hispanic",960.717,NaN,53.0,NaN,2905.420,NaN,0.046,0.053
2,"Black, Non-Hispanic",993.715,NaN,377.0,NaN,2895.676,NaN,0.324,0.325
3,Hispanic/Latino,938.351,NaN,202.0,NaN,2885.954,NaN,0.174,0.160
4,"Multiracial, Non-Hispanic",940.781,NaN,6.0,NaN,2712.192,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",824.355,NaN,4.0,NaN,2864.132,NaN,0.003,0.004
6,"White, Non-Hispanic",981.518,NaN,509.0,NaN,2896.880,NaN,0.438,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,986.703629,NaN,438.0,NaN,2894.190222,NaN,0.376612,0.35173
1,M,967.729475,NaN,725.0,NaN,2894.722053,NaN,0.623388,0.64827

### patients who leave the waitlist

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_ll, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",615.953,NaN,3.0,NaN,0.0,NaN,0.008,0.014
1,"Asian, Non-Hispanic",598.874,NaN,21.0,NaN,0.0,NaN,0.053,0.053
2,"Black, Non-Hispanic",489.337,NaN,134.0,NaN,0.0,NaN,0.340,0.325
3,Hispanic/Latino,566.691,NaN,70.0,NaN,0.0,NaN,0.178,0.160
4,"Native Hawaiian/Other Pacific Islander, Non-Hi...",301.240,NaN,1.0,NaN,0.0,NaN,0.003,0.004
5,"White, Non-Hispanic",514.869,NaN,165.0,NaN,0.0,NaN,0.419,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,505.249600,NaN,135.0,NaN,0.0,NaN,0.34264,0.35173
1,M,527.836494,NaN,259.0,NaN,0.0,NaN,0.65736,0.64827

### patients who stay in final list

In [ ]:
df_waiting_time, df_gender = get_summary_tables(results_p3_fl, ethcat_mapping, real_ethcat_df, real_gender_df)

In [ ]:
df_waiting_time

,ethcat,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_simu,sample_proportion
0,"Amer Ind/Alaska Native, Non-Hispanic",472.406,NaN,4.0,NaN,0.0,NaN,0.021,0.014
1,"Asian, Non-Hispanic",503.992,NaN,8.0,NaN,0.0,NaN,0.042,0.053
2,"Black, Non-Hispanic",634.070,NaN,65.0,NaN,0.0,NaN,0.339,0.325
3,Hispanic/Latino,481.117,NaN,43.0,NaN,0.0,NaN,0.224,0.160
4,"Multiracial, Non-Hispanic",632.698,NaN,1.0,NaN,0.0,NaN,0.005,0.005
5,"Native Hawaiian/Other Pacific Islander, Non-Hi...",754.330,NaN,1.0,NaN,0.0,NaN,0.005,0.004
6,"White, Non-Hispanic",554.049,NaN,70.0,NaN,0.0,NaN,0.365,0.439

In [ ]:
df_gender

,gender,wt_mean,wt_std,count_mean,count_std,st_mean,st_std,prop_sim,sample_proportion
0,F,559.097806,NaN,63.0,NaN,0.0,NaN,0.328125,0.35173
1,M,564.119319,NaN,129.0,NaN,0.0,NaN,0.671875,0.64827